$primary:#055b68;
$dark:rgb(32, 32, 32);


@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';


$custom-theme-colors:(
    "color1":#055b68,
    "color2":#0c94a9,
    "color3":#e6fcff,
    "color4":#ffa200,
    "color5":#ffe7be,
    
    
    "altdark":rgb(32, 32, 32)
);

$theme-colors:map-merge($custom-theme-colors , $theme-colors );



@import './node_modules/bootstrap/scss/bootstrap.scss'