$primary:rgb(5, 91, 104);
$secondary:#ffa200;
$dark:rgb(32, 32, 32);


@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';


$custom-theme-colors:(
    "color1":#055b68,
    "color2":rgb(1, 76, 87),
    "color3":#f2fdfe,
    "color4":#ffa200,
    "color5":#ffefd4,
    "color6":rgb(26, 26, 26),
    "color7":rgb(22, 22, 22),
    
    
    "altdark":rgb(32, 32, 32)
);

$theme-colors:map-merge($custom-theme-colors , $theme-colors );

.personalInterestIcons {
    background-color: map-get($custom-theme-colors, 'color4');
    // padding: 5px;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    padding-top: 5px;
}
.skillIcons{
    background-color: map-get($custom-theme-colors, 'color4');
    // padding: 5px;
    text-align: center;
    color: #055b68;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    padding-top: 8px;
}

@import './node_modules/bootstrap/scss/bootstrap.scss'